---
---


html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: italic;
  white-space: nowrap;
}

p {
  font-family: "futura-pt", sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

.list {
  padding-bottom: 1px;
}

.brand {
  z-index: 910;
  position: absolute;
  color: #EFDBB2;
}

.preview {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#dull_red_r,
#dull_red_t {
  pointer-events: none;
}

@media all and (orientation: landscape) {
  #background {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: calc(50vh - 50vw);
    left: 0;
  }

  #dull_red_r {
    position: absolute;
    width: 20vw;
    height: 100vw;
    top: 0;
    left: 0;
    background-color: #a64646;
  }

  #dull_red_t {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 20vw;
    border-top: 100vw solid #a64646;
    border-right: 30vw solid transparent;
  }

  #light_grayish_orange {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 0;
    left: 0;
    background-color: #efdbb2;
  }

  #box {
    position: absolute;
    width: auto;
    height: 75vh;
    top: 15vh;
    left: calc((30vw - 30vh) / 2 + 20vw);
    right: calc((30vw - 30vh) / 2 + 20vw);
  }

  #container {
    position: absolute;
    width: 30vw;
    height: 70vh;
    /* bottom: 0; */
    top: 5vh;
    right: 0;
    overflow-y: scroll;
  }

  #content {

  }
}

@media all and (orientation: portrait) {
  html,
  body {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
  }

  #background {
    width: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    top: 0;
    left: calc(50vw - calc(var(--vh, 1vh) * 50));
  }

  #dull_red_r {
    position: absolute;
    width: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 4);
    top: 0;
    left: 0;
    background-color: #a64646;
  }

  #dull_red_t {
    position: absolute;
    width: 0;
    height: 0;
    top: calc(var(--vh, 1vh) * 4);
    left: 0;
    border-top: calc(var(--vh, 1vh) * 30) solid #a64646;
    border-right: calc(var(--vh, 1vh) * 100) solid transparent;
  }

  #light_grayish_orange {
    position: absolute;
    width: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 100);
    top: 0;
    left: 0;
    background-color: #efdbb2;
  }

  #dull_red_r,
  #dull_red_t {
    z-index: 333;
  }

  #menu li {
    display: inline;

    h3 {
      display: inline;
      margin-right: 10px;
    }
  }

  #box {
    position: absolute;
    width: 84vw;
    height: auto;
    top: calc(var(--vh, 1vh) * 2);
    bottom: calc(
      (calc(var(--vh, 1vh) * 15) - 15vw) / 2
    );
    left: 8vw;
  }

  #container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  #content {
    margin-top: calc(
      calc(var(--vh, 1vh) * 30) - (calc(var(--vh, 1vh) * 30) - 30vw) / 2
    );
  }

  .content-title {
    text-align: end;
    padding-right: 2px;
  }
}

.content-date {
  font-size: 0.6em;
}

#box h1,
#box h2,
#box h3,
#box h4,
#box h5,
#box h6 {
  white-space: initial;
}