html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

@media all and (orientation: landscape) {
    #background {
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: calc(50vh - 50vw);
        left: 0;

    }

    #dull_red {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-top: 100vw solid #A64646;
        border-right: 100vw solid transparent;
    }

    #light_grayish_orange {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-bottom: 100vw solid #E3DECE;
        border-left: 100vw solid transparent;
    }

    #box {
        position: absolute;
        width: 100vh;
        height: 60vh;
        top: 20vh;
        left: calc((100vw - 100vh) / 2);
    }
}

@media all and (orientation: portrait) {

    html,
    body {
        width: 100vw;
        height: calc(var(--vh, 1vh) * 100);
    }

    #background {
        width: calc(var(--vh, 1vh) * 100);
        height: calc(var(--vh, 1vh) * 100);
        position: absolute;
        top: 0;
        left: calc(50vw - calc(var(--vh, 1vh) * 50));

    }

    #dull_red {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-top: calc(var(--vh, 1vh) * 100) solid #A64646;
        border-right: calc(var(--vh, 1vh) * 100) solid transparent;
    }

    #light_grayish_orange {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-bottom: calc(var(--vh, 1vh) * 100) solid #E3DECE;
        border-left: calc(var(--vh, 1vh) * 100) solid transparent;
    }

    #box {
        position: absolute;
        width: 84vw;
        height: 100vw;
        top: calc((calc(var(--vh, 1vh) * 100) - 100vw) / 2);
        left: 8vw;
    }
}