html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media all and (orientation: landscape) {
    #background {
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: calc(50vh - 50vw);
        left: 0;

    }

    #dull_red {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-top: 100vw solid #A64646;
        border-right: 100vw solid transparent;
    }

    #light_grayish_orange {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-bottom: 100vw solid #E3DECE;
        border-left: 100vw solid transparent;
    }

    #box {
        position: absolute;
        width: 100vh;
        height: 60vh;
        top: 20vh;
        left: calc((100vw - 100vh) / 2);
    }
}

@media all and (orientation: portrait) {
    #background {
        width: 100vw;
        height: 100vw;
        position: absolute;
        top: 0;
        left: calc(50vw - 50vh);

    }

    #dull_red {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-top: 100vh solid #A64646;
        border-right: 100vh solid transparent;
    }

    #light_grayish_orange {
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        border-bottom: 100vh solid #E3DECE;
        border-left: 100vh solid transparent;
    }

    #box {
        position: absolute;
        width: 60vw;
        height: 100vw;
        top: calc((100vh - 100vw) / 2);
        left: 20vw;
    }
}