<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <script src="/js/react.production.min.js"></script>
    <script src="/js/react-dom.production.min.js"></script>
    <script src="/js/material-ui.production.min.js"></script>

    <script src="/js/base.min.js"></script>

    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://use.typekit.net/hev5qxu.css">
    <link rel="stylesheet" href="/css/base.css">
</head>

<body>
    <div id="background">
        <div id="light_grayish_orange"></div>
        <div id="dull_red_r"></div>
        <div id="dull_red_t"></div>
    </div>
    <div id="box">
        <div class="brand">
            <h1><a href="/">VERNIV</a></h1>
            <ul id="menu">
                <li>
                    <h3><a href="/about">ABOUT</a></h3>
                </li>
                <li>
                    <h3><a href="/ir">IR</a></h3>
                </li>
                <li>
                    <h3><a href="/press">PRESS</a></h3>
                </li>
            </ul>
        </div>
        <div id="container">
            <div id="content">
                {% if page.title %}
                <h3 class="content-title">{{ page.title }}&emsp;<span
                        class="content-date">{{ page.date | date_to_string }}</span></h3>
                {% endif %}
                {{ content }}
            </div>
        </div>
    </div>
</body>

</html>